@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #cbdefe;
  background-image: url('./assets/img/stethoscope-2617701_1920.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: rgb(255, 255, 255);
  
}

footer {
  bottom: 0;
}